<!doctype html>
<html lang="en">

<head>
    <title>Remote Visualizer</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        #stream {
            box-sizing: border-box;
            padding: 1%;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>

<body>
    <div id="container">
        <img id="stream" src="{{ url_for('video_feed') }}">
    </div>
</body>

</html>